*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
   background-color: #24252a;
   box-shadow: 0px 3px 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
   
    margin: 0 15px;
}

.nav-link  {
    font-size: 1.15rem;
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;

}

.login-button a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
}

/* Menu Responsivo */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Responsivo faz Aparecer com o Tamanho da Tela */

@media screen and (max-width:730px) {
    .nav-bar {
        padding: 1.5rem;

    }

    .nav-item {
       display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    /* Tratando o button icon */
    .mobile-menu-icon button {
      
        background-color: transparent;
        border: none;
        cursor: pointer;
       
    }

    /* Mobile menu so vai aparecer com js */
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    /* Quando a class aparecer no js o menu vai aparecer */
    .open {
        display: block;
    }

  
    

}

@media (max-width:480px ) {
   span {
        top: 2rem;
    }
}

